.canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid whitesmoke;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
   
  }
.button {
    border:2px solid whitesmoke;
    background-color: black;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 30px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  button:disabled,button[disabled]{
    background-color: #cccccc;
    cursor:not-allowed !important;
  }
  .button:hover {
    background-color: #00B844;
    color: white;

  }
  
  
